@font-face{
    font-family: 'irannastaliq';
    src: url('fonts/IranNastaliq.eot')format('eot');
    src: url('fonts/IranNastaliq.ttf')format('ttf');
    src: url('fonts/IranNastaliq.woff')format('woff');
}



.oo{
font-family:irannastaliq ;

color: rgb(32, 0, 211);
font-size: 30px;
background-image:url('Moon-Photo.webp');
background-size: 100% 100%;
border: 5px solid crimson ;
border-style: dashed;
border-width: 20px 30px 40px 30px;
direction: rtl;





}





#pp{
    font-family:irannastaliq ;
color: rgb(255, 0, 212);
font-size: 30px;
background-size: 100% 100%;
background-color: mediumturquoise;
border: 6px solid burlywood;
border-style: double;
border-width: 30px;
direction: rtl;
}
#pn{
font-family:irannastaliq ;
font-size: 30px;
color: darkviolet;
background-color: beige;
border-style: double;
border: solid palevioletred 30px;
}



.oo{
font-family:irannastaliq ;
color: rgb(25, 0, 211);
font-size: 30px;
background-image:url('Moon-Photo.webp');
border: 5px solid crimson ;
border-style: dashed;
border-width: 20px 30px 40px 30px;
text-align: center;
direction: rtl;
background-attachment: scroll;
}
.u{
    font-family: irannastaliq;
color: fuchsia;
font-size: 30px;
background-size: auto;
background-position: center top;
padding: 30px;
margin: 20px;
background-color: rgb(217, 255, 0);
border: solid plum 5px;
background-repeat: no-repeat;
border-style: groove;
border-width: 30px;
direction: rtl;
}
ol{
font-family: fantasy;
    color: blue;
    font-size: 30px;
    background-color: rgb(92, 164, 205);
    border: 6px solid rgb(130, 238, 224);
    border-radius: 40px;
    direction: rtl;
}
#l1{
color: cadetblue;
font-size: 75px;
}
#l2{
color: chartreuse;
font-size: 50px;


}
a{
    color: rgb(255, 0, 98);
}




.n{
    font-family: irannastaliq;
color: darkturquoise;
font-size: 30px;
background-image: url('1.jpeg');
border: solid violet 30px;
border-style: dashed;
text-align: center;
border-top: 40px 50px 60px;
direction: rtl;
}
img{
    border: 30px solid palegreen;
   margin-left: 300px;
border-style: double;
}
.g{
    font-family:irannastaliq ;
font-size: 30px;
color: hotpink;

text-align: center;
text-shadow: 5px 10px 10px;

background-color: aquamarine;
border: 30px burlywood;
border-style: double;
direction: rtl;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
color: blue;
background-color: darkkhaki;
border: 30px seagreen;
border-style: groove ;
direction: rtl;
}
.kk{
    font-family: irannastaliq;
font-size: 30px;
color: darkolivegreen;
background-color: blanchedalmond;
border-style:dotted ;
direction: rtl;

}
.jj{
    
    font-family:irannastaliq ;
font-size: 30px;
color: gold;
background-color: bisque;
border: salmon 30px;
border-style: groove;
direction: rtl;
text-transform: lowercase;
text-align: center;
}
.hh{
    font-family: irannastaliq;
color: rgb(57, 47, 79);
font-size: 30px;
text-align: justify;
border: green 20px;
background-color: aquamarine;
border-style: dotted;
text-align: center;
direction: rtl;
text-shadow: 5px 5px 10px;


}
.kj{
    font-family: irannastaliq;
color: mediumaquamarine;
font-size: 30px;

text-align: center;
text-shadow: 5px 10px 10px;
height: 20px;
width: 20px;
padding: 20px;
font-size: 30px;
border-style: double ;
border: 20px red;
direction: rtl;
}
#p1{
    font-family:irannastaliq ;
color: lightcoral;
font-size: 50px; 
direction: rtl;
text-align: center;
text-shadow: 5px 10px 10px;
background-color: honeydew;
border: solid khaki 30px;
}

#p2{
    font-family: irannastaliq;
color: blueviolet;
font: bold 50px ;
direction: rtl;
font-size: 30px;

text-align: center;
text-shadow: 5px 10px 10px;

background-color: bisque;
border: solid khaki 30px



}
#p3{
font-family: irannastaliq;
color: rgb(0, 94, 209);
font-size: 50px;
direction: rtl;

text-align: center;
text-shadow: 5px 10px 10px;

background-color: plum;
border: solid khaki 20px

}
#gf{
font-size: 30px;
direction: rtl;


}

h2{
color:rgb(255, 0, 98);
font-size: 60px;

}

body{
background-image:url(k2_items_src_c616914bd1bbe187bef7db55aecee92d.jpg)
}
.lll{
    font-family:irannastaliq ;
font-size: 30px;
    color: palevioletred;
direction: rtl;
background-color: powderblue;
border:solid pink 20px;
text-align: center;
text-shadow: 5px 10px 10px;
}
#d1{
font-family:irannastaliq ;
font-size: 30px;
 color: midnightblue;
  direction: rtl;  
background-color: navajowhite;
border: solid slateblue 30px;
border-style: groove;
text-align: center;
text-shadow: 5px 10px 10px;
direction: rtl;
margin: 30px;
}
#d2{
font-family:irannastaliq ;
font-size: 30px;
color: mediumvioletred;
direction: rtl;
background-color: deepskyblue;
border: solid rebeccapurple;
border-style: dotted;
text-align: center;
text-shadow: 5px 10px 10px;
direction: rtl;
}
.nm{
    font-family:irannastaliq ;
color: indigo;
font-size: 30px;
background-color: rgb(127, 214, 255);
border: 30px solid rgb(255, 0, 128);
border-style: dotted;
text-align: center;
text-shadow: 10px 10px 10px;
direction: rtl;

}








